COMPOSE_PROJECT_NAME=radius_kisaanu
TZ=Asia/Kolkata

MYSQL_ROOT_PASSWORD=change_root_password
MYSQL_DATABASE=radius
MYSQL_USER=radius
MYSQL_PASSWORD=change_radius_password

RADIUS_DB_NAME=radius
RADIUS_DB_USER=radius
RADIUS_DB_PASS=change_radius_password
RADIUS_DB_HOST=mysql

RADIUS_SHARED_SECRET=change_shared_secret
RADIUS_CLIENT_NAME=omada-eap225-outdoor
RADIUS_CLIENT_IP=192.168.0.0/16
OMADA_CONTROLLER_IP=192.168.0.2

NGINX_BIND_IP=0.0.0.0
NGINX_HTTP_PORT=80
DALORADIUS_BIND_IP=0.0.0.0
DALORADIUS_HTTP_PORT=8091
PHPMYADMIN_BIND_IP=0.0.0.0
PHPMYADMIN_HTTP_PORT=8092
RADIUS_BIND_IP=0.0.0.0
RADIUS_AUTH_PORT=1812
RADIUS_ACCT_PORT=1813
